#item-list-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    #item{
        margin: 20px;
        .button-detail{
            color: white;
            text-decoration: none;

        }
        
    }


}